# todo: change_transition
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Guid</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @setting.name %></td>
      <td><%= @setting.status %></td>
      <td><%= @setting.guid %></td>
      <td><%= @setting.version %></td>
    </tr>
  </tbody>
</table>
-->
